body {
  position: relative;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

header {
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  padding: 1em 2em;
}
header .logo {
  width: 200px;
}
header .nav_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  padding: 1.2em;
}
header .nav_btn .line {
  height: 0.5px;
  background-color: #000;
}
header .nav_btn .line:first-child {
  width: 20px;
}
header .nav_btn .line:last-child {
  width: 17px;
  margin-top: 7px;
}
header .menu_wrap {
  width: 100%;
  /*height: 100vh;*/
  height: 0;
  position: absolute;
  top: -7rem;
  left: 0;
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  padding: 4rem 2.5em 2.5em;
  /*border-bottom: 10px solid #cdc4ba;
  border-radius: 0 0 50% 50%;*/
  overflow: hidden;
}
header .menu_wrap .menu_banner {
  width: 40%;
  height: 45%;
  align-self: flex-start;
}
header .menu_wrap .menu_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .menu_wrap ul {
  line-height: 1.3;
}
header .menu_wrap ul .menu_list {
  position: relative;
  overflow: hidden;
  font-size: 3rem;
  font-weight: bold;
}
header .menu_wrap ul .menu_list a {
  display: inline-block;
}
header .menu_wrap ul .menu_list a::after {
  content: "/";
  display: inline-block;
  padding-left: 0.1em;
  font-weight: 400;
  color: #a7a7a7;
}
header .menu_wrap ul .menu_list:hover a::after {
  transform: rotate(343deg);
}
header .menu_wrap .nav_close_btn {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}
header .menu_wrap .nav_close_btn .line {
  width: 34px;
  height: 1px;
  background: #000;
  transition: 0.3s;
}
header .menu_wrap .nav_close_btn .line:first-child {
  transform: rotate(45deg);
}
header .menu_wrap .nav_close_btn .line:last-child {
  transform: rotate(-45deg);
}
header .menu_wrap .nav_close_btn:hover .line {
  transform: rotate(0deg);
}

.contents {
  position: relative;
}
.contents .blackout {
  background: #000;
  pointer-events: none;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 1;
}
.contents .sc_visual {
  width: 100%;
}
.contents .sc_visual .visual_wrap {
  position: relative;
  height: 100vh;
  /*background-image: url(../images/hero-business-card.webp);
  background-repeat: no-repeat;
  background-size: cover;*/
}
.contents .sc_visual .visual_wrap .visual_text {
  position: relative;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  width: 100%;
  height: 100%;
  z-index: 5;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg {
  position: relative;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(1) {
  grid-area: 8/3/21/9;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(2) {
  grid-area: 15/11/27/17;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(3) {
  grid-area: 19/19/32/25;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(4) {
  grid-area: 33/29/46/35;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(5) {
  grid-area: 33/36/46/42;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(6) {
  grid-area: 33/43/46/49;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg img {
  width: 100%;
}
.contents .sc_visual .video_wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
}
.contents .sc_visual .video_wrap video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.contents .sc_intro {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  background: #fff;
}
.contents .sc_intro .intro_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 5.5rem 0 1rem 0;
  box-sizing: border-box;
}
.contents .sc_intro .intro_wrap .tit {
  font-size: 5rem;
  font-weight: bold;
  padding: 0 1rem;
  line-height: 1.3;
}
.contents .sc_intro .intro_wrap .tit .sub_tit {
  display: block;
  font-weight: 100;
  font-size: 2.5rem;
}
.contents .sc_intro .intro_wrap .intro_text {
  width: 100%;
  font-size: 2rem;
  padding: 0 0 1rem;
  font-weight: 300;
}
.contents .sc_intro .intro_wrap .intro_text span {
  display: inline-block;
  opacity: 0;
}
.contents .sc_intro .intro_wrap .height_img_wrap {
  width: 24%;
  position: absolute;
  right: 7%;
  top: 6%;
}
.contents .sc_intro .intro_wrap .height_img_wrap .height_img {
  position: relative;
  padding-bottom: 132%;
  width: 100%;
  height: 0;
  box-shadow: 0px 9px 6px -5px rgba(0, 0, 0, 0.431372549);
  overflow: hidden;
}
.contents .sc_intro .intro_wrap .height_img_wrap .height_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1rem solid #cdc4ba;
  transform: translateY(100%);
}
.contents .sc_story {
  height: 100vh;
  background: #fff;
  position: relative;
  /*top: 0;*/
  width: 100%;
  font-size: 10rem;
  text-align: center;
  overflow: hidden;
}
.contents .sc_story .hori_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.contents .sc_story .hori_wrap .left_text_wrap {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}
.contents .sc_story .hori_wrap .left_text_wrap .big_txt {
  font-size: 8rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  /* text-orientation: upright; */
  /* letter-spacing: -3rem; */
  /* width: 16%; */
  align-self: flex-end;
  text-transform: uppercase;
  transform: rotate(180deg);
}
.contents .sc_story .hori_wrap .left_text_wrap .small_txt {
  font-size: 1rem;
  width: 14rem;
  font-weight: 300;
  line-height: 1.6;
}
.contents .sc_story .hori_wrap .hori_div {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  width: 600%;
}
.contents .sc_story .hori_wrap .hori_div .hori_zone {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vw;
  width: 100%;
  align-items: center;
  background: #fff;
  margin-left: 1px;
  /*.img_height {
      @include img_height(130%, )
  }*/
  /*.progress_wrap {
      width:1px;
      height:50%;
      position: absolute;
      left:0;

      .progress {
          width: 1px;
          height: 0%;
          background: #aaa;
          top: 0;
          transition: .3s;
      }
  }*/
}
.contents .sc_story .hori_wrap .hori_div .hori_zone::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 50%;
  width: 1px;
  background: #aaa;
}
.contents .sc_story .hori_wrap .hori_div .hori_zone .subject {
  font-size: 1.5rem;
  text-align: left;
  color: #3b3b3b;
  width: 50%;
}
.contents .sc_story .hori_wrap .hori_div .hori_zone .img_height {
  position: relative;
  padding-top: 54%;
  width: 100%;
}
.contents .sc_story .hori_wrap .hori_div .hori_zone .img_height img {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  height: 100%;
  transform: translateX(-50%);
}
.contents .sc_banner {
  position: relative;
  width: 100%;
}
.contents .sc_banner .tit.sticky {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  margin-top: -70vh;
  /*height: 100vh;
  margin-top: -80vh;*/
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 3em 3em;
  z-index: 5;
  pointer-events: none;
  mix-blend-mode: overlay;
}
.contents .sc_banner .tit.sticky p {
  line-height: 0.8;
  font-size: 9em;
  font-weight: bold;
  letter-spacing: -0.04em;
}
.contents .sc_banner .banner_wrap .list {
  display: flex;
  padding-top: 20em;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}
.contents .sc_banner .banner_wrap .list .listItem {
  position: relative;
  width: 31%;
  overflow: hidden;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(2) {
  width: 32%;
  margin-top: 17%;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(2) .img_height img {
  object-position: 36% 50%;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(3) {
  width: 29%;
  margin-top: 5%;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(4) {
  width: 29%;
  margin-top: -10%;
  margin-left: 3%;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(4) .img_height img {
  object-position: 44% center;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(5) {
  width: 50%;
  margin-top: -4%;
  margin-right: 3%;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(5) .img_height {
  padding-top: 56%;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(5) .img_height img {
  object-position: 44% center;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(5) .list_info .tit {
  width: 60%;
  margin: 0 auto;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(6) {
  width: 60%;
  margin-top: 2%;
  margin-left: 1%;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(6) .img_height {
  padding-top: 62%;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(6) .img_height img {
  object-position: 42% center;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(6) .list_info .tit {
  width: 80%;
  margin: 0 auto;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(7) {
  width: 31%;
  margin-top: -2%;
  margin-right: 5%;
}
.contents .sc_banner .banner_wrap .list .listItem:nth-child(7) .img_height {
  padding-top: 126%;
}
.contents .sc_banner .banner_wrap .list .listItem .img_height {
  position: relative;
  width: 100%;
  padding-top: 131%;
}
.contents .sc_banner .banner_wrap .list .listItem .img_height img {
  position: absolute;
  top: 0;
  left: 0%;
  bottom: 0%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: 89% 50%;
}
.contents .sc_banner .banner_wrap .list .listItem .list_info {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5098039216);
  width: 100%;
  padding-bottom: 0.5rem;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(100%);
}
.contents .sc_banner .banner_wrap .list .listItem .list_info .tit img {
  width: 100%;
}
.contents .sc_banner .banner_wrap .list .listItem .list_info .support {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  width: 95%;
  margin: 0 auto;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: normal;
}
.contents .sc_banner .banner_wrap .list .listItem:hover .list_info {
  transform: translateY(0%);
  opacity: 1;
}
.contents .sc_banner .signature {
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contents .sc_banner .signature .img {
  position: relative;
  width: 65%;
  padding-top: 13%;
}
.contents .sc_banner .signature .img img {
  position: absolute;
  top: 0;
  left: 0%;
  bottom: 0%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: "none";
}
.contents .sc_banner .signature .brands_identity {
  width: 37%;
  line-height: 1.5;
  font-size: 1.1rem;
  padding-top: 2rem;
  font-weight: 300;
  text-align: center;
}
.contents .sc_video {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contents .sc_video .video_wrap {
  position: relative;
  width: 100%;
  height: 250vh;
}
.contents .sc_video .video_wrap .video_sticky {
  /*.logo_icon {
      position: absolute;
      top: -47%;
      right: -8%;
      transform: translate(8%, 49%);
      img {
          width:100%;
      }
  }*/
  position: sticky;
  top: 0px;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.contents .sc_video .video_wrap .video_sticky .sticky-rect_element {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 35em;
  height: 35em;
  justify-content: center;
  align-items: center;
  border-radius: 35vw;
}
.contents .sc_video .video_wrap .video_sticky .sticky-rect_element video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}/*# sourceMappingURL=museum.css.map */