body {
  position: relative;
}

.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

header {
  position: fixed; 
  top: 0px;
  z-index: 100;
  width: 100%;
  padding: 1em 2em;
}
header .logo {
  width: 200px;
}
header .nav_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  padding: 1.2em;
}
header .nav_btn .line {
  height: 0.5px;
  background-color: #000;
}
header .nav_btn .line:first-child {
  width: 20px;
}
header .nav_btn .line:last-child {
  width: 17px;
  margin-top: 7px;
}
header .menu_wrap {
  width: 100%;
  /*height: 100vh;*/
  height: 0;
  position: absolute;
  top: -7rem;
  left: 0;
  background: #fff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  padding: 4rem 2.5em 2.5em;
  border-bottom: 10px solid #cdc4ba;
  /*border-radius: 0 0 50% 50%;*/
  overflow: hidden;
}
header .menu_wrap .menu_banner {
  width: 40%;
  height: 45%;
  align-self: flex-start;
}
header .menu_wrap .menu_banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .menu_wrap ul {
  line-height: 1.3;
}
header .menu_wrap ul .menu_list {
  position: relative;
  overflow: hidden;
  font-size: 3rem;
  font-weight: bold;
}
header .menu_wrap ul .menu_list a {
  display: inline-block;
}
header .menu_wrap ul .menu_list a::after {
  content: "/";
  display: inline-block;
  padding-left: 0.1em;
  font-weight: 400;
  color: #a7a7a7;
}
header .menu_wrap ul .menu_list:hover a::after {
  transform: rotate(343deg);
}
header .menu_wrap .nav_close_btn {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}
header .menu_wrap .nav_close_btn .line {
  width: 34px;
  height: 1px;
  background: #000;
  transition: 0.3s;
}
header .menu_wrap .nav_close_btn .line:first-child {
  transform: rotate(45deg);
}
header .menu_wrap .nav_close_btn .line:last-child {
  transform: rotate(-45deg);
}
header .menu_wrap .nav_close_btn:hover .line {
  transform: rotate(0deg);
}

.contents .sc_visual {
  width: 100%;
}
.contents .sc_visual .visual_wrap {
  position: relative;
  height: 100vh;
  /*background-image: url(../images/hero-business-card.webp);
  background-repeat: no-repeat;
  background-size: cover;*/
}
.contents .sc_visual .visual_wrap .visual_text {
  position: relative;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
  width: 100%;
  height: 100%;
  z-index: 5;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg {
  position: relative;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(1) {
  grid-area: 8/3/21/9;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(2) {
  grid-area: 15/11/27/17;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(3) {
  grid-area: 19/19/32/25;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(4) {
  grid-area: 33/29/46/35;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(5) {
  grid-area: 33/36/46/42;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg:nth-child(6) {
  grid-area: 33/43/46/49;
}
.contents .sc_visual .visual_wrap .visual_text .ani_text_svg img {
  width: 100%;
}
.contents .sc_visual .video_wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 3;
}
.contents .sc_visual .video_wrap video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.contents .sc_intro {
  width: 100%;
}
.contents .sc_intro .intro_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 5.5rem;
  box-sizing: border-box;
}
.contents .sc_intro .intro_wrap .tit {
  font-size: 5rem;
  font-weight: 500;
  padding: 0 1rem;
  line-height: 1.3;
}
.contents .sc_intro .intro_wrap .tit .sub_tit {
  display: block;
  font-weight: 100;
  font-size: 2.5rem;
}
.contents .sc_intro .intro_wrap .intro_text {
  width: 80%;
  font-size: 2rem;
  padding: 0 1rem;
  font-weight: 300;
  line-height: 1.2;
}
.contents .sc_intro .intro_wrap .intro_text span {
  display: inline-block;
  opacity: 0;
}
.contents .sc_intro .intro_wrap .height_img_wrap {
  width: 430px;
  position: absolute;
  right: 7%;
  top: 6rem;
}
.contents .sc_intro .intro_wrap .height_img_wrap .height_img {
  position: relative;
  padding-bottom: 132%;
  width: 100%;
  height: 0;
  box-shadow: 0px 9px 6px -5px rgba(0, 0, 0, 0.431372549);
  overflow: hidden;
}
.contents .sc_intro .intro_wrap .height_img_wrap .height_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1rem solid #cdc4ba;
  transform: translateY(100%);
}/*# sourceMappingURL=museum.css.map */